In [1]:
import pandas as pd

C:\Users\Korisnik\AppData\Local\Temp\ipykernel_22904\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv("./dataEngineeringDataset.csv")

C:\Users\Korisnik\AppData\Local\Temp\ipykernel_22904\1963961242.py:1: DtypeWarning: Columns (7,8,13,14,17,42,45,63) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./dataEngineeringDataset.csv")

In [3]:
df.columns

Index(['Unnamed: 0', 'resultId', 'raceId', 'driverId', 'constructorId',
       'number', 'grid', 'position', 'positionText', 'positionOrder', 'points',
       'laps', 'time', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'year', 'round', 'circuitId', 'name_x',
       'date', 'time_races', 'url_x', 'fp1_date', 'fp1_time', 'fp2_date',
       'fp2_time', 'fp3_date', 'fp3_time', 'quali_date', 'quali_time',
       'sprint_date', 'sprint_time', 'circuitRef', 'name_y', 'location',
       'country', 'lat', 'lng', 'alt', 'url_y', 'driverRef', 'number_drivers',
       'code', 'forename', 'surname', 'dob', 'nationality', 'url',
       'constructorRef', 'name', 'nationality_constructors',
       'url_constructors', 'lap', 'position_laptimes', 'time_laptimes',
       'milliseconds_laptimes', 'stop', 'lap_pitstops', 'time_pitstops',
       'duration', 'milliseconds_pitstops', 'driverStandingsId',
       'points_driverstandings', 'position_driverstandings',
       'positionText_driverstandings', 'wins', 'constructorStandingsId',
       'points_constructorstandings', 'position_constructorstandings',
       'positionText_constructorstandings', 'wins_constructorstandings',
       'status'],
      dtype='object')

In [11]:
groupings = {
    "driver": df[[
        "driverId", "driverRef", "number", "code", "forename", "surname", "dob", "nationality", "url"
    ]],
    "raceResult": df[[
        "resultId", "raceId", "driverId", "constructorId", "grid", "positionOrder", "points", "laps",
        "time", "milliseconds", "fastestLap", "fastestLapTime", "fastestLapSpeed", "rank",
        "positionText", "wins", "number_drivers", "statusId", "driverStandingsId", "constructorStandingsId"
    ]],
    "race": df[[
        "raceId", "year", "round", "circuitId", "name_x", "date", "time_races", "url_x"
    ]],
    "circuit": df[[
        "circuitId", "circuitRef", "name_y", "location", "country", "lat", "lng", "alt", "url_y"
    ]],
    "constructor": df[[
        "constructorId", "constructorRef", "name", "nationality_constructors", "url_constructors"
    ]],
    "status": df[[
        "statusId", "status"
    ]],
    "qualifying": df[[
        "raceId", "driverId", "quali_date", "quali_time"
    ]],
    "sprint": df[[
        "raceId", "driverId", "sprint_date", "sprint_time"
    ]],
    "practice": df[[
        "raceId", "fp1_date", "fp1_time", "fp2_date", "fp2_time", "fp3_date", "fp3_time"
    ]],
    "pitStops": df[[
        "raceId", "driverId", "stop", "lap_pitstops", "time_pitstops", "duration", "milliseconds_pitstops"
    ]],
    "driverStandings": df[[
        "driverStandingsId", "points_driverstandings", "positionText_driverstandings", "wins"
    ]],
    "constructorStandings": df[[
        "constructorStandingsId", "points_constructorstandings", "positionText_constructorstandings",
        "wins_constructorstandings", "constructorId"
    ]],
    "laps": df[[
        "raceId", "driverId", "lap", "position_laptimes", "time_laptimes", "milliseconds_laptimes"
    ]],
    "fastestLaps": df[[ 'raceId','driverId',"fastestLap", "fastestLapTime", "fastestLapSpeed"
    ]]
}

In [8]:
groupings["raceResult"]

,resultId,raceId,driverId,constructorId,grid,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,fastestLapSpeed,rank,positionText,wins,number_drivers,statusId,driverStandingsId,constructorStandingsId
0,21232,860,18,1,2,1,25.0,58,1:34:09.565,5649565,56,1:29.187,214.053,1,1,1,22,1,64976,24932
1,21232,860,18,1,2,1,25.0,58,1:34:09.565,5649565,56,1:29.187,214.053,1,1,1,22,1,64976,24932
2,21232,860,18,1,2,1,25.0,58,1:34:09.565,5649565,56,1:29.187,214.053,1,1,1,22,1,64976,24932
3,21232,860,18,1,2,1,25.0,58,1:34:09.565,5649565,56,1:29.187,214.053,1,1,1,22,1,64976,24932
4,21232,860,18,1,2,1,25.0,58,1:34:09.565,5649565,56,1:29.187,214.053,1,1,1,22,1,64976,24932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518412,23041,953,837,209,19,15,0.0,74,\N,\N,70,1:19.868,150.413,13,15,0,88,14,67681,26501
518413,23041,953,837,209,19,15,0.0,74,\N,\N,70,1:19.868,150.413,13,15,0,88,14,67681,26501
518414,23041,953,837,209,19,15,0.0,74,\N,\N,70,1:19.868,150.413,13,15,0,88,14,67681,26501
518415,23041,953,837,209,19,15,0.0,74,\N,\N,70,1:19.868,150.413,13,15,0,88,14,67681,26501
518416,23041,953,837,209,19,15,0.0,74,\N,\N,70,1:19.868,150.413,13,15,0,88,14,67681,26501

In [24]:
from minio import Minio

minio_client = Minio(
    "localhost:9000",
    access_key="minio",
    secret_key="minio123",
    secure=False 
)

print(minio_client.list_buckets())

[Bucket('bronze-layer')]

In [20]:
bucket_name = "bronze-layer"

# Check if bucket exists, if not create it
found = minio_client.bucket_exists(bucket_name)
if not found:
    minio_client.make_bucket(bucket_name)
    print(f"Bucket '{bucket_name}' created successfully!")
else:
    print(f"Bucket '{bucket_name}' already exists.")

Bucket 'bronze-layer' created successfully!

In [26]:
objects = minio_client.list_objects(bucket_name, recursive=True)

print(f"ðŸ“‚ Files in Bucket '{bucket_name}':")
for obj in objects:
    print(f"- {obj.object_name} ({obj.size} bytes)")

ðŸ“‚ Files in Bucket 'bronze-layer':
- circuit.parquet (3909602 bytes)
- constructor.parquet (2329094 bytes)
- constructorStandings.parquet (1011924 bytes)
- driver.parquet (3294583 bytes)
- driverStandings.parquet (833302 bytes)
- fastestLaps.parquet (1225081 bytes)
- laps.parquet (4929735 bytes)
- pitStops.parquet (1775563 bytes)
- practice.parquet (1302681 bytes)
- qualifying.parquet (783462 bytes)
- race.parquet (3548100 bytes)
- raceResult.parquet (4279682 bytes)
- sprint.parquet (723142 bytes)
- status.parquet (475608 bytes)